<div class="body">
    <div class="logo">
        <img routerLink="/" src="../../assets/images/Rectangle.svg" alt="">
    </div>
    <div class="menu">
        <div class="cart">
            <img src="../../assets/images/cart.svg" alt="">
        </div>
        <div class="login">
            <img routerLink="/login" src="../../assets/images/login.svg" alt="">
        </div>
    </div>
    <div class="center">
        <div class="checkout-headline">
            find your <span class="black">Missing spoon.</span>
        </div>
        <p class="checkout-para">
            Choose a plan to start
        </p>
    </div>
    <div class="boxes">
        <div class="box1">
                <div class="table-headline">
                    One <br>Fine <br>Day
                </div>
                <div class="badge1">
                    ₹99
                </div>
            <div class="details1">
                <ul class="table-list">
                    <li><i class="fa fa-check"></i> 3 Meals.</li>
                    <hr>
                    <li><i class="fa fa-check"></i> Mentoring session</li>
                    <hr>
                    <li class="cross"><i class="fa fa-times"></i> Welcome Kit</li>
                    <hr>
                    <li class="cross"><i class="fa fa-times"></i> Free Evening Snack</li>
                    <hr>
                </ul>
                <a href="" class="table-button1">SELECT</a>
            </div>
        </div>
        <div class="box2">
            <div class="head2">
                <div class="table-headline">
                    One <br>Healthy <br>Month
                </div>
                <div class="badge2">
                    ₹3499
                </div>
            </div>
            <div class="details2">
                <ul class="table-list">
                    <li><i class="fa fa-check"></i> 90 Meals.</li>
                    <hr>
                    <li><i class="fa fa-check"></i> Welcome Kit</li>
                    <hr>
                    <li><i class="fa fa-check"></i> 1 Mentoring session</li>
                    <hr>
                    <li><i class="fa fa-check"></i> 8 Evening Snack</li>
                    <hr>
                </ul>
                <a href="" class="table-button2">SELECT</a>
            </div>
        </div>
        <div class="box3">
            <div class="head3">
                <div class="table-headline">
                    One <br>Healthy <br>Semester
                </div>
                <div class="badge3">
                    ₹17999
                </div>
            </div>
            <div class="details3">
                <ul class="table-list">
                    <li><i class="fa fa-check"></i> 540 Meals.</li>
                    <hr>
                    <li><i class="fa fa-check"></i> Welcome Kit</li>
                    <hr>
                    <li><i class="fa fa-check"></i> 6 Mentoring session</li>
                    <hr>
                    <li><i class="fa fa-check"></i> 8 Evening Snack</li>
                    <hr>
                    <li><i class="fa fa-check"></i> Paid Internship</li>
                    <hr>
                </ul>
                <a href="" class="table-button3">SELECT</a>
            </div>
        </div>
    </div>
</div>